---
import {getCollection} from "astro:content"
import Container from "./Container.astro"
const navLinks = (await getCollection('navigation')).map(nav => nav.data)
---
<Container>
  <nav>
    <div id="hamburger-wrapper" class="md:hidden">
      <button id="closed-hamburger-button" class="hamburger-button">
        <div id="closed-hamburger-icon" class="hamburger-icon">
          <div class="hamburger-line hamburger-long-line hamburger-orange-line"></div>
          <div class="hamburger-line hamburger-short-line hamburger-yellow-line"></div>
          <div class="hamburger-line hamburger-long-line hamburger-orange-line"></div>
        </div>
      </button>
      <section id="hamburger-menu" data-open="false">
        <button id="open-hamburger-button" class="hamburger-button">
          <div id="open-hamburger-icon" class="hamburger-icon">
            <div class="hamburger-line hamburger-short-line hamburger-orange-line"></div>
            <div class="hamburger-line hamburger-long-line hamburger-yellow-line"></div>
            <div class="hamburger-line hamburger-short-line hamburger-orange-line"></div>
          </div>
        </button>
        <div id="nav-links-wrapper">
          {navLinks.map(link => (
            <a href={link.url} class={`heading nav-link`}>{link.text}</a>
          ))}
        </div>
      </section>
    </div>
    <div class="hidden md:flex">
      <div class="flex items-center gap-[24px]">
        {navLinks.map(link => (
          <a href={link.url} class={`nav-link text-[1rem]`}>{link.text}</a>
        ))}
      </div>
    </div>
    <div id="under-construction-wrapper">
      <img id="under-construction-icon" src="/icons/construction-yellow.png" />
      <span>Under Construction</span>
    </div>
  </nav>
</Container>
<script src="../scripts/code.js" />