---
import type { CollectionEntry } from 'astro:content';

interface Props {
  project: CollectionEntry<'projects'>['data'];
  image: ImageMetadata;
}

const { project, image } = Astro.props
---
<article class="project-card bg-footer-bg">
  <img src={image.src} alt="" class="project-card-image">
  <section class="project-card-body">
    <header class="project-card-header">
      <h3 class="project-card-title">{project.name}</h3>
      <a class="project-card-visit-site" target="_blank" href={project.url}>
        <img class="project-card-visit-site-icon" src="/icons/external-link-orange.png" alt="">
      </a>
    </header>
    <p class="project-card-subtitle">{project.description}</p>
    <div class="project-card-technologies-wrapper">
      {project.technologies.map(tech => (
        <span class="technology-pill">{tech}</span>
      ))}
    </div>
    <a class="link project-card-learn-more" href={`/projects/${project.id}`}>Learn More</a>
  </section>
</article>
<style>
  .project-card{
  box-shadow: 2px 4px 10px 0 rgba(0,0,0,0.25);
  border-radius: 8px;
}

.project-card-image{
  display: block;
  border-radius: 8px 8px 0 0;
  max-width: 100%;
}

.project-card-body{
  padding: 16px;
}

.project-card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-card-title{
  font-size: 1rem;
  font-weight: 500;
}

.project-card-visit-site-icon{
  width: 20px;
  display: inline-block;
}

.project-card-subtitle{
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

.project-card-technologies-wrapper{
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.project-card-learn-more{
  margin-top: 1.5rem;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 500;
}
</style>