---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro';
import BaseLayoutWithHeaderFooter from '../../layouts/BaseLayoutWithHeaderFooter.astro';
import Container from '../../components/Container.astro';

export async function getStaticPaths(){
  const images = import.meta.glob('../../assets/images/projects/*', {
    eager: true,
    import: 'default',
  }) as Record<string, ImageMetadata>;  
  const projects = await getCollection('projects')
  
  return projects.map(project => {
    const browserImage = images[`../../assets/images/projects/${project.data.imgName}`];
    const laptopImage = images[`../../assets/images/projects/${project.data.laptopImage}`];
    const mobileImage = images[`../../assets/images/projects/${project.data.mobileImage}`];

    return {
      params: { id: project.id }, props: { project: project.data, browserImage, laptopImage, mobileImage }
    }
  })
}

const { project, browserImage, laptopImage, mobileImage } = Astro.props;
---
<BaseLayoutWithHeaderFooter>
  <Container>
    <main>
      <div class="project-name-wrapper">
        <h2 class="project-name">{project.name}</h2>
        <a class="link" target="_blank" href={project.url}>Visit Site</a>
      </div>
      <p class="project-description">{project.description}</p>
      <div class="my-[48px] flex flex-col md:flex-row gap-[24px]">
        <img class="min-w-0" src={browserImage.src} />
        <img class="max-w-[300px] w-[100%] md:w-[auto] mx-auto md:max-w-[unset] min-w-0" src={mobileImage.src} />
      </div>
      <div class=" flex flex-col lg:flex-row-reverse justify-end flex-start gap-[24px]">
        <div>
          <h3 class="built-with-heading">Built with:</h3>
          <div class="technology-pills-wrapper">
            {project.technologies.map(tech => (
              <span class="technology-pill">{tech}</span>
            ))}
          </div>
        </div>
        {project.overview && project.overview.length > 0
          ? (
            <div class="max-w-[600px]">
              <h3 class="overview-heading">Overview</h3>
              <div class="">
                {project.overview.map(paragraph => (
                  <p class="overview-paragraph">
                    {paragraph}
                  </p>
                ))}
              </div>
            </div>
          ) : null
        }
      </div>
    </main>
  </Container>
</BaseLayoutWithHeaderFooter>
<style>
  .overview-paragraph{
    color: rgba(255,255,255,0.7);
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 16px;
  }
  .overview-heading{
    font-weight: normal
  }
  .technology-pills-wrapper{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 16px;
  }
  .built-with-heading{
    font-weight: 400;
  }
  
  .project-name-wrapper{
    padding-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .project-name{
    font-size: 1.25rem;
    font-weight: 500;
  }
  .project-description{
    margin-top: 8px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(255,255,255,0.7);
  }
</style>